.head
{
	margin-top: 0px;
	font-family:'Abril Fatface', cursive;
	color:#60bcdb;

}

.formD
{
	width:50%;
	margin-left:auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-top: 100px;
}

.mybtn
{
	margin-top: 20px;
}